header {
  padding: 2rem;
  margin-bottom: 1.2rem;
  display: flex;
  justify-content: space-between;
}

main {
  display: flex;
  justify-content: center;
}

article[data-theme="dark"] {
  background-color: hsl(228, 28%, 20%);
}


@media (max-width: 375px) {
  main {
    padding: 0 0 0 1.2rem;
    flex-direction: column;
  }

  header {
    flex-direction: column;
  }
}