:root {
    --color-border: linear-gradient(to right, hsl(37, 97%, 70%), hsl(329, 70%, 58%));
}

.card {
    width: 300px;
    height: 270px;
    border-radius: 6px;
    background-color: hsl(227, 47%, 96%);
    padding: 1.2rem;
    margin: 0 .9rem 0 .9rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card--dark {
    background-color: hsl(228, 28%, 20%);
}

.numbers--dark {
    color: #fff;
}


.facebook {
    border-top: 4px solid hsl(208, 92%, 53%);
}

.twitter {
    border-top: 4px solid hsl(203, 89%, 53%);
}

.insta {
    border-top: 5px solid;
}

.yt {
    border-top: 4px solid hsl(348, 97%, 39%);
}

.social__net {
    margin-bottom: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon {
    margin: .8rem;
}

.username {
    color: hsl(228, 12%, 44%);
    font-weight: 700;
}

.followers__show {
    text-align: center;
    margin-bottom: 2.2rem;
}

.numbers {
    font-size: 65px;
}

.card__content {
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 5px;
    color: hsl(228, 12%, 44%);
}

.up {
    font-weight: 700;
    color: hsl(163, 72%, 41%);
    font-size: 15px;
}

.down {
    font-weight: 700;
    color: hsl(356, 69%, 56%);
    font-weight: 700;
}

@media(max-width: 375px) {
    .card {
        width: 320px;
        margin: .8rem 0 .8rem 0;
    }
}