@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

/* RESET CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* RESET CSS END */

html {
  --bg-color: #fff;
}

html[data-theme="dark"] {
  --bg-color: hsl(230, 17%, 14%);
  --text-color: #fff;
}

/* BODY STYLES */
body {
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  background-color: var(--bg-color);
  color: var(--text-color);
}
/* BODY STYLES END */
