.navbar {
    display: flex;
    justify-content: space-between;
}

.title {
    font-size: 26px;
    font-weight: 700;
}

.dark--text {
    color: hsl(0, 0%, 100%);
}

.total {
    font-weight: 700;
    color: hsl(228, 12%, 44%);
}

.border {
    visibility: hidden;
}


@media(max-width: 375px) {
    .navbar {
        flex-direction: column;
    }

    .title {
        font-size: 20px;
        width: 100%;
    }

    .border {
        visibility: visible;
        border: 1px solid hsl(228, 12%, 44%);;
        width: 100%;
        margin: .8rem 0 .8rem 0;
    }
}
