.overview__section {
    margin-bottom: 4.2rem;
    padding: 2.2rem;
}  

.overview__title {
    font-size: 24px;
    color: hsl(228, 12%, 44%);
}

.overview__title--dark {
    color: #fff;
}

.cards__container {
    margin: 2.2rem 0 0 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1.4rem;
}

.up {
    font-weight: 700;
    color: hsl(163, 72%, 41%);
    font-size: 15px;
}

.down {
    font-weight: 700;
    color: hsl(356, 69%, 56%);
    font-weight: 700;
}

@media (max-width: 375px) {
    .cards__container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
}